<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.buptsse.ibrs.dao.EnterpriseDao">
	<resultMap id="BaseResultMap" type="com.buptsse.ibrs.model.Enterprise">
		<id column="enterprise_id" property="id" jdbcType="INTEGER" />
		<result column="login_name" property="loginName" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="INTEGER" />
		<result column="license_number" property="licenseNumber" jdbcType="VARCHAR" />
		<result column="last_login_time" property="date" jdbcType="VARCHAR" />
		<association column="certigier_id" property="certigier" javaType="com.buptsse.ibrs.model.UserInfo">
			<id column="user_info_id" property="id" />
			<result column="truename" property="truename" />
			<result column="id_number" property="idNumber" />
			<result column="address" property="address" />
			<result column="birthday" property="birthday" />
		</association>
	</resultMap>
	<sql id="Base_Column_List">
		enterprise_id, login_name,password,name,address,license_number,certigier,lasy_login_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select * from enterprise
		where enterprise_id = #{id,jdbcType=INTEGER}
	</select>

	<select id="selectByLicenseNumber" resultMap="BaseResultMap" parameterType="long">
		select * from enterprise where license_number = #{licenseNumber}
	</select>

	<select id="selectByEnterpriseLoginName" resultMap="BaseResultMap" parameterType="String">
		select * from enterprise where login_name = #{name}
	</select>
<select id="selectByEnterpriseName" resultMap="BaseResultMap" parameterType="String">
		select * from enterprise where name = #{name}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from cn_enterprise
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.buptsse.ibrs.model.Enterprise">
		insert into enterprise (enterprise_id, login_name, password,
		name, address, license_number,certigier_id, last_login_time
		)
		values (#{id,jdbcType=INTEGER}, #{loginName,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR}, #{address}, #{licenseNumber},
		#{certigier.id}, #{date,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.buptsse.ibrs.model.Enterprise">
		insert into cn_enterprise
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="enterpriseName != null">
				enterprise_name,
			</if>
			<if test="enterpriseNumber != null">
				enterprise_number,
			</if>
			<if test="enterpriseAddress != null">
				enterprise_address,
			</if>
			<if test="certigier != null">
				certigier,
			</if>
			<if test="date != null">
				date,
			</if>
			<if test="password != null">
				password,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="enterpriseName != null">
				#{enterpriseName,jdbcType=VARCHAR},
			</if>
			<if test="enterpriseNumber != null">
				#{enterpriseNumber,jdbcType=VARCHAR},
			</if>
			<if test="enterpriseAddress != null">
				#{enterpriseAddress,jdbcType=VARCHAR},
			</if>
			<if test="certigier != null">
				#{certigier},
			</if>
			<if test="date != null">
				#{date,jdbcType=DATE},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.buptsse.ibrs.model.Enterprise">
		update cn_enterprise
		<set>
			<if test="enterpriseName != null">
				enterprise_name = #{enterpriseName,jdbcType=VARCHAR},
			</if>
			<if test="enterpriseNumber != null">
				enterprise_number = #{enterpriseNumber,jdbcType=VARCHAR},
			</if>
			<if test="enterpriseAddress != null">
				enterprise_address = #{enterpriseAddress,jdbcType=VARCHAR},
			</if>
			<if test="certigier != null">
				certigier = #{certigier.id,jdbcType=INTEGER},
			</if>
			<if test="date != null">
				date = #{date,jdbcType=DATE},
			</if>
			<if test="password != null">
				date = #{password,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.buptsse.ibrs.model.Enterprise">
		update cn_enterprise
		set enterprise_name = #{enterpriseName,jdbcType=VARCHAR},
		enterprise_number = #{enterpriseNumber,jdbcType=VARCHAR},
		enterprise_address = #{enterpriseAddress,jdbcType=VARCHAR},
		certigier = #{certigier.getId,jdbcType=INTEGER},
		date = #{date,jdbcType=DATE},
		password = #{password, jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>