<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.buptsse.ibrs.dao.UserAndEnterpriseDao" >
  <resultMap id="BaseResultMap" type="com.buptsse.ibrs.model.UserAndEnterprise" >
    <id column="follow_id" property="followId" jdbcType="INTEGER" />
    <result column="if_leave" property="ifLeave"/>
    <result column="add_time" property="addTime"/>
    <result column="leave_time" property="leaveTime"/>
    <association column="user_id" property="userId" javaType="com.buptsse.ibrs.model.UserInfo">
    	<id column="user_info_id" property="id"/>
    	<result column="truename" property="truename"/>
    	<result column="id_number" property="idNumber"/>
    	<result column="address" property="address"/>
    	<result column="birthday" property="birthday"/>
    	<result column="phone_number" property="phoneNumber"/>
    	<result column="money" property="money"/>
    </association>
    <association property="enterpriseId" javaType="com.buptsse.ibrs.model.Enterprise">
    	<id column="enterprise_id" property="id"/>
    	<result column="login_time" property="loginTime"/>
    	<result column="password" property="password"/>
    	<result column="name" property="name"/>
		<result column="address" property="address"/>
		<result column="license_number" property="licenseNumber"/>
		<result column="last_login_time" property="lastLoginTime"/>
		
    </association>
  </resultMap>
  <sql id="Base_Column_List" >
    id, userid, enterprise, date, if_leave
  </sql>

  
  <select id="getMyEnterprise" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select * from follow f, user_info u, enterprise e where f.user_id = #{userId,jdbcType=INTEGER}
    and u.user_info_id = #{userId} and e.enterprise_id = f.enterprise_id
  </select>
  
  
  
  <select id="getMyEnterpriseNum" resultType="int" parameterType="java.lang.Integer" >
    select count(*) from follow f  where f.user_id = #{userId} 
  </select>
  
   <select id="getMyEmployeeNum" resultType="int" parameterType="java.lang.Integer" >
    select count(*) from follow f  where f.enterprise_id = #{userId} 
  </select>
  
    <select id="getMyEmployee" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select * from follow f, user_info u, enterprise e where f.enterprise_id = #{enterpriseId,jdbcType=INTEGER}
    and u.user_info_id = f.user_id and e.enterprise_id = f.enterprise_id
  </select>
  
    <select id="selectFollow" resultMap="BaseResultMap" parameterType="com.buptsse.ibrs.model.UserAndEnterprise" >
    select * from follow f, user_info u, enterprise e where f.user_id = #{userId.id,jdbcType=INTEGER}
    and f.enterprise_id = #{enterpriseId.id} and e.enterprise_id = f.enterprise_id and u.user_info_id = f.user_id
  </select>
  
  <insert id="insert" parameterType="com.buptsse.ibrs.model.UserAndEnterprise" >
    insert into follow (follow_id, user_id, enterprise_id, add_time, if_leave, leave_time)
    values (#{followId,jdbcType=INTEGER}, #{userId.id,jdbcType=INTEGER}, #{enterpriseId.id,jdbcType=INTEGER}, #{addTime},
      #{ifLeave}, #{leaveTime})
  </insert>
  
  
  <select id="selectByEnterpriseId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from follow
    where enterprise = #{id,jdbcType=INTEGER}
  </select>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from follow
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from follow
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  
  <delete id="deleteFollow" parameterType="Integer">
  delete from follow where follow_id = #{id}
  </delete>
  <insert id="insertSelective" parameterType="com.buptsse.ibrs.model.UserAndEnterprise" >
    insert into follow
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="enterprise != null" >
        enterprise,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="ifLeave != null" >
        if_leave,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="enterprise != null" >
        #{enterprise,jdbcType=INTEGER},
      </if>
      <if test="date != null" >
        #{date,jdbcType=DATE},
      </if>
      <if test="ifLeave != null" >
        #{ifLeave},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.buptsse.ibrs.model.UserAndEnterprise" >
    update follow
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="enterprise != null" >
        enterprise = #{enterprise,jdbcType=INTEGER},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=DATE},
      </if>
      <if test="ifLeave != null" >
        if_leave = #{ifLeave},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.buptsse.ibrs.model.UserAndEnterprise" >
    update follow
    set userid = #{userid,jdbcType=INTEGER},
      enterprise = #{enterprise,jdbcType=INTEGER},
      date = #{date,jdbcType=DATE},
      if_leave = #{ifLeave}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>